In [17]:
import pandas as pd
import numpy as np

In [2]:
# Read the data into a Pandas Dataframe
crowdfunding_data = pd.ExcelFile("crowdfunding.xlsx")

# Get the sheet names 
crowdfunding_data.sheet_names

['crowdfunding_info', 'contact_info']

In [3]:
# Get the crowdfunding_info from the crowdfunding_info worksheet
crowdfunding_info_df = pd.read_excel(crowdfunding_data, sheet_name='crowdfunding_info')
crowdfunding_info_df.head()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays

In [4]:
# Checking end of crowdfunding_info_df
crowdfunding_info_df.tail()

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
995,2986,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,False,True,food/food trucks
996,2031,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,False,False,theater/plays
997,1627,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,False,False,theater/plays
998,2175,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,False,True,music/indie rock
999,1788,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,False,False,food/food trucks

In [5]:
# Using .sample(n=5) to get random rows in the middle of crowdfunding_info_df
crowdfunding_info_df.sample(n=5)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category
345,476,"Taylor, Cisneros and Romero",Open-source neutral task-force,157600,23159,failed,331,GB,GBP,1617685200,1628485200,False,False,film & video/drama
594,367,Mcbride PLC,Upgradable leadingedge Local Area Network,157300,11167,failed,157,US,USD,1602997200,1614232800,False,True,theater/plays
668,578,Brown and Sons,Programmable leadingedge budgetary management,27500,5593,failed,76,US,USD,1623128400,1641189600,False,False,theater/plays
417,2035,"Bradshaw, Smith and Ryan",Upgradable 24/7 emulation,1700,943,failed,15,US,USD,1620536400,1624683600,False,False,theater/plays
554,2704,Ritter PLC,Multi-channeled upward-trending application,9500,14408,successful,554,CA,CAD,1608876000,1626066000,False,False,music/indie rock

In [6]:
# Use .info to get more information on the crowdfunding_info_df - like the index, data types, non-null values amd memory usage 
crowdfunding_info_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   cf_id                    1000 non-null   int64
 1   company_name             1000 non-null   object
 2   blurb                    1000 non-null   object
 3   goal                     1000 non-null   int64
 4   pledged                  1000 non-null   int64
 5   outcome                  1000 non-null   object
 6   backers_count            1000 non-null   int64
 7   country                  1000 non-null   object
 8   currency                 1000 non-null   object
 9   launched_at              1000 non-null   int64
 10  deadline                 1000 non-null   int64
 11  staff_pick               1000 non-null   bool
 12  spotlight                1000 non-null   bool
 13  category & sub-category  1000 non-null   object
dtypes: bool(2), int64(6), object(6)
memory usage: 95.8+ KB

In [13]:
# Get the unique values in the catagory and subcatagory column
crowdfunding_info_df["category & sub-category"].unique()

## used Value_counts to find number of times these values were returned in the data 
# crowdfunding_info_df.drop_duplicates()["category & sub-category"].value_counts()

##.used .count to find number of unique catagary's/ sub-category's
# cat_subcat_unique_df = crowdfunding_info_df["category & sub-category"].drop_duplicates()
# cat_subcat_unique_df.count()

array(['food/food trucks', 'music/rock', 'technology/web',
       'theater/plays', 'film & video/documentary',
       'music/electric music', 'film & video/drama', 'music/indie rock',
       'technology/wearables', 'publishing/nonfiction',
       'film & video/animation', 'games/video games',
       'film & video/shorts', 'publishing/fiction',
       'photography/photography books', 'publishing/radio & podcasts',
       'music/metal', 'music/jazz', 'publishing/translations',
       'film & video/television', 'games/mobile games',
       'music/world music', 'film & video/science fiction',
       'journalism/audio'], dtype=object)

In [11]:
# assign the category and subcategory values to category and subcategory columns 
crowdfunding_info_df[["category","subcategory"]] = crowdfunding_info_df["category & sub-category"].str.split('/', n=1, expand=True)
crowdfunding_info_df.head(10)

,cf_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,staff_pick,spotlight,category & sub-category,category,subcategory
0,147,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,False,False,food/food trucks,food,food trucks
1,1621,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,False,True,music/rock,music,rock
2,1812,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,False,False,technology/web,technology,web
3,2156,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,False,False,music/rock,music,rock
4,1365,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,False,False,theater/plays,theater,plays
5,2057,Harris Group,Open-source optimizing database,7600,13195,successful,174,DK,DKK,1607666400,1630213200,False,False,theater/plays,theater,plays
6,1894,"Ortiz, Coleman and Mitchell",Operative upward-trending algorithm,5200,1090,failed,18,GB,GBP,1596171600,1620709200,False,False,film & video/documentary,film & video,documentary
7,2669,Carter-Guzman,Centralized cohesive challenge,4500,14741,successful,227,DK,DKK,1608616800,1632200400,False,False,theater/plays,theater,plays
8,1114,Nunez-Richards,Exclusive attitude-oriented intranet,110100,21946,live,708,DK,DKK,1586322000,1615356000,False,False,theater/plays,theater,plays
9,970,"Rangel, Holt and Jones",Open-source fresh-thinking model,6200,3208,failed,44,US,USD,1628830800,1630386000,False,False,music/electric music,music,electric music

In [14]:
# get the distinct values in the category and subcategory columns
print(crowdfunding_info_df["category"].nunique())
print(crowdfunding_info_df["subcategory"].nunique())

9
24

In [16]:
# Get the unique categorys and subcategory's in to seperate lists 
categories = crowdfunding_info_df["category"].unique()

subcategories = crowdfunding_info_df["subcategory"].unique()

print(categories)

print()

print(subcategories)

['food' 'music' 'technology' 'theater' 'film & video' 'publishing' 'games'
 'photography' 'journalism']

['food trucks' 'rock' 'web' 'plays' 'documentary' 'electric music' 'drama'
 'indie rock' 'wearables' 'nonfiction' 'animation' 'video games' 'shorts'
 'fiction' 'photography books' 'radio & podcasts' 'metal' 'jazz'
 'translations' 'television' 'mobile games' 'world music'
 'science fiction' 'audio']

In [23]:
# Create Numpy arrays that 1-10 for the category_id's and 1-25 for the subcategory_ids
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1,25)

print(category_ids)
print(subcategory_ids)

[1 2 3 4 5 6 7 8 9]
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24]

In [26]:
# use a list comprehension to add "cat0" " to each category _id
cat_ids = ["cat0" + str(cat_id) for cat_id in category_ids]

# use a list comprehension to add "sat0" " to each subcategory _id
scat_ids = ["scat0" + str(scat_id) for scat_id in subcategory_ids]

print(cat_ids)
print(scat_ids)

['cat01', 'cat02', 'cat03', 'cat04', 'cat05', 'cat06', 'cat07', 'cat08', 'cat09']
['scat01', 'scat02', 'scat03', 'scat04', 'scat05', 'scat06', 'scat07', 'scat08', 'scat09', 'scat010', 'scat011', 'scat012', 'scat013', 'scat014', 'scat015', 'scat016', 'scat017', 'scat018', 'scat019', 'scat020', 'scat021', 'scat022', 'scat023', 'scat024']

In [32]:
# Create a category Dataframe with the cat_ids array as the category_id and categories lists as they category name
category_df = pd.DataFrame({
    "category_id" : cat_ids,
    "category" : categories})

In [36]:
# Create a subcategory Dataframe with the scat_ids array as the subcategory_id and subcategories lists as they category name
subcategory_df = pd.DataFrame({
    "subcategory_id" : scat_ids,
    "subcategory" : subcategories})

In [34]:
category_df.head(10)

  category_id      category
0       cat01          food
1       cat02         music
2       cat03    technology
3       cat04       theater
4       cat05  film & video
5       cat06    publishing
6       cat07         games
7       cat08   photography
8       cat09    journalism

In [37]:
subcategory_df.head(10)

  subcategory_id     subcategory
0         scat01     food trucks
1         scat02            rock
2         scat03             web
3         scat04           plays
4         scat05     documentary
5         scat06  electric music
6         scat07           drama
7         scat08      indie rock
8         scat09       wearables
9        scat010      nonfiction

In [38]:
category_df.to_csv("category.csv", index=False)

In [39]:
subcategory_df.to_csv("subcategory.csv", index=False)

In [ ]:
# Get the contact_info from the contact_info worksheet
#increase the width of the colum
pd.set_option('max_colwidth', 400)
contact_info_df = pd.read_excel(crowdfunding_data, sheet_name='contact_info', header=3)
contact_info_df.head()

In [ ]:
# Checking end of contact_info_df
contact_info_df.tail()

In [ ]:
# Using .sample(n=5) to get random rows in the middle of contact_info_df
contact_info_df.sample(n=5)

In [ ]:
# Use .info to get more information on the ccontact_info_df - like the index, data types, non-null values amd memory usage 
contact_info_df.info()